.button-container {
    width: 50vw;
    height: 8vh;
    text-align: center;
    background-color: rgb(99, 135, 146);
    display: table-cell;
    vertical-align: middle;
    border-radius: 100vw;
    border: 2px solid rgb(52, 58, 139);
}